.banner-wrapper {
  overflow: hidden;
  background: #06141b;
  padding: 20px 0;
  margin-top: 100px;
}

.banner-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 20s linear infinite;
}


.banner-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 32px;
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 28px;
  font-weight: 800;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes scrollLeft {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}