body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 15px 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
width: 50px;
height: 50px;
background-color: #007bff;
border-radius: 10px;
transition: all 0.3s ease-in-out;
}
.logo:hover{
  transform: scale(1.07) rotate(-10deg) ;
  
}

.logo-text{
font-size: 30px;
display: flex;
color: black;
align-items: center;
gap: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}
.nav-links:last-child{
  margin-right: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
 color: #007bff;

}

.btn{
  /* background: linear-gradient(90deg, beige, #06141b); */
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  /* text-shadow: 0 0 10px rgba(0, 198, 255, 0.4); */
  box-shadow: 0 0 10px rgba(0, 198, 255, 0.4);
  background-color: #007bff;
  color: white;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);

}

.btn::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 10%,
    transparent 40%
  );
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%   { transform: scale(0.8); opacity: 0.6; }
  50%  { transform: scale(1.1); opacity: 0.3; }
  100% { transform: scale(0.8); opacity: 0.6; }
}


.menu-icon {
  display: none;
  font-size: 26px;
  color: black;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
.navbar{
    padding: 15px 40px;
}
.logo{
  width: 30px;
  height: 30px;
}
.logo-text{
  font-size: 20px;
}
    .nav-links {
    box-shadow: 0 0 4px black;

      position: absolute;
    top: 60px;
    right: 0;
    color: black;
    background: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }
.nav-links li .btn{
    width: 100%;
}
  #menu-toggle:checked ~ .nav-links {
    max-height: 400px;
    padding: 20px 0;
  }

  .menu-icon {
    display: block;
  }
}
